option_settings:
  - option_name: SYMFONY__DATABASE_HOST
    value: ""
  - option_name: SYMFONY__DATABASE_PORT
    value: 3306
  - option_name: SYMFONY__DATABASE_NAME
    value: flofit_front
  - option_name: SYMFONY__DATABASE_USER
    value: ""
  - option_name: SYMFONY__DATABASE_PASSWORD
    value: ""

  - option_name: SYMFONY_CLICKBANK_SITE
    value: NO-SITE
  - option_name: SYMFONY_CLICKBANK_API_AUTH
    value: NO-API-KEY

  - option_name: SYMFONY__SECRET
    value: ""
  - option_name: SYMFONY__USER_SECTION_URL_BASE
    value: ""

  - option_name: SYMFONY__MIGRATIONS_FOLDER
    value: "/var/app/app/DoctrineMigrations"

  - option_name: SYMFONY__AMAZON_S3_BUCKET
    value: "test-modpreneur"

  - option_name: SYMFONY__AMAZON_S3_KEY
    value: AKIAJH3FKN6SGDGI6JKA

  - option_name: SYMFONY__AMAZON_S3_SECRET
    value: 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

  - option_name: SYMFONY__AMAZON_S3_REGION
    value: "us-west-2"

  - option_name: SYMFONY__LOCALE
    value: en

  - option_name: SYMFONY_ENV
    value: prod

  - option_name: SYMFONY__SECRET
    value: ThisTokenIsNotSoSecretChangeIt

  - option_name: SYMFONY__DEBUG_TOOLBAR
    value: true

  - option_name: SYMFONY__DEBUG_REDIRECTS
    value: false
