<div class="span-medium-24">
    <a href="http://my.flofit.com/faq" target="_blank" class="read-faq">Read the FLO FIT FAQ</a>

    <a href="{{ path('affiliates') }}" class="read-faq">Affiliates</a>

    <p>Consult your physician and follow all safety instructions before beginning any exercise program. <br/>All trademarks, products and service names are the property of their respective owners.</p>

    <p>Results may vary. Exercise and proper diet are necessary to achieve and maintain weight loss and muscle definition. <br/>Please send all questions and order inquiries to <a href="mailto:help@flofit.com">help@flofit.com</a></p>

    <p>ClickBank is the retailer of this product. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of this product or any claim, statement or opinion used in promotion ofthis product.</p>

    <p>FLO FIT © 2016</p>

    <p>Burn It Now Productions, Inc. FLO FIT and FLO RIDA trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
</div>